<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MainWindow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/myProjectsStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/mainWindow.css">

    <script src="/vendor/jquery/jquery.min.js"></script>

</head>

<body>
    <% include ../partials/topnav %>
    <div class="buttons">
        <button type="button" class="btn btn-success btn-lg">Home</button>
        <!-- <button type="button" class="btn btn-primary btn-lg">My Projects</button> -->
        <!-- <button type="button" class="btn btn-primary btn-lg">Details</button> -->
        <!-- <button type="button" class="btn btn-primary btn-lg">Edit Projects</button> -->
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 col-md-12">
                <div id="projects" class="imgAndLabel">
                    <img src="/img/projects.png">
                    <h1>Projects</h1>
                </div>
                <div id="teams" class="imgAndLabel">
                    <img src="/img/teams.png">
                    <h1>Teams</h1>
                </div>
                <div id="members" class="imgAndLabel">
                    <img src="/img/member.png">
                    <h1>Members</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <table id="notificationTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="centered" scope="col">Notifications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="centered" scope="row">You will receive new messages here!</th>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-12">
                <div id="questions" class="imgAndLabel">
                    <img src="/img/question.png">
                    <h1>Questions</h1>
                </div>
                <div id="answers" class="imgAndLabel">
                    <img src="/img/answer.png">
                    <h1>Answers</h1>
                </div>
            </div>
        </div>
        <script src="/js/alert.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="/js/mainWindow.js"></script>
    </div>
</body>

</html>